.textbar {
    overflow: hidden;
}

.textbar p {
    height: 54px;
    width: 6051px;
    text-transform: uppercase;
    padding: 10px;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0px;
    line-height: 2;
    animation: grow 50s linear infinite;
}

@keyframes grow {
    0% {
        transform: translateX(-0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
