.videoComponent {
    height: 782px;
    position: relative;
}

video {
    width: 100%;
    height: 100%;
}

.videoComponent .video-cover,
.videoComponent .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.videoComponent .video-cover {
    background: url("https://s3-alpha-sig.figma.com/img/4fde/6e6c/bec89b9c993b11ee955d3232594483aa?Expires=1708300800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=OMaQgqLNwM5NWF0ueXByM27yfDNgFhA4sBPOoeIFNA0lJ445fBXdbJtGnLjGepImrIL1i9hvSZmu6GN2cbC3Mjy6jlZpuQJRjpEbaI07o0tn9sQ-5PlYgYmwrY6RI1YeTvd3XHdUfNxNLnbH8hMakkKbXK72TrBizsMYTdLPRHWJ-9L8jTlR3bbmqimYZV9Fo2g~ilTyHU1MvNcVfNHSux7zRRwq3Sul-g0cIekOIMMAl3xMYoAoA5ft6YOIgXyTL~7QuYMLhM3JLwZkU54NJ-re6RQtKn9lZAz1uNbrULp8ycNNHY5RNb4pl7lvRS24u1C50okBOXXR0Toft19Orw__");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.videoComponent .overlay {
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-icon {
    border: 2px solid #fff;
    color: #fff;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
